@import url(fonts.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    vertical-align: bottom;
    max-width: 100%;
}

span {
    font-weight: 700;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}




.header_nav {
    display: flex;
    height: 85px;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.header_nav-items {
    display: flex;
    column-gap: 60px;
    
}

.header_form {
    display: flex;
    column-gap: 12px;
}

.header_form-btn {
    border: none;
    outline: none;
    background: #fff;
    cursor: pointer;
}

.header_form-inp {
    border: none;
    outline: none;
    color: #718096;
}

.header_links {
    display: flex;
    column-gap: 30px;
}

.header_list {
    display: flex;
    column-gap: 30px;
}

.header_link {
    color: #000;
}

.main_header {
    background: #FBFBFB;
    padding: 75px 0;
}

.main_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 102px;
}

.main_header-acc {
    margin-left: 40px;
} 

.main_header-title {  
    font-size: 60px;
    margin-bottom: 20px;
}

.main_header-txt {
    font-size: 30px;
    color: #4A5568;
}

.main_seaction:nth-of-type(1) {
    background: #fff;
    padding-top: 39px;
    margin-bottom: 44px;
}

.main_cards {
    display: flex;
    flex-direction: column;
    row-gap: 43px;
}

.main_card-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 5px 4px 0px #DDDDDD40;
}

.main_card-1 .main_about {
    padding: 43px 0 43px 52px;
    max-width: 455px;
    width: 100%;
}



.main_card-1 .card_title {
    font-size: 30px;
    color:#2D3748;
    margin-bottom: 27px;
}

.main_card-1 .card_txt {
 margin-bottom: 30px;
    font-size: 14px;
    color: #718096;   
}

.card_footer {
    display: flex;
    justify-content: space-between;
}

.card_date {
    font-size: 12px;
    color: #718096;
}

.card_about {
    font-size: 12px;
    color: #2D3748;
    font-weight: 700;
}

.main_cards2 {
    display: flex;
    justify-content: space-between;
}

.main_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #C0BDBD40;
}

.main_about {
    padding: 0 25px 25px 17px;
}

.main_card img {
    margin-bottom: 18px;
}

.card_title {
    font-size: 20px;
    color: #2D3748;
    margin-bottom: 15px;
}

.card_txt {
    margin-bottom: 22px;
    font-size: 14px;
    color: #718096;  
}

.main_seaction:nth-of-type(2) {
    display: flex;
    margin-bottom: 40px;
}

.seaction_about1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    background: #F7FAFC;
}

.about_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 63px;
    max-width: 313px;
    width: 100%;
}

.about_title {
    font-size: 40px;
    margin-bottom: 24px;
}

.about_txt {
    color: #718096;
    margin-bottom: 32px;
}

.about_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about_date {
    color: #4A5568;
}

.about_more {
    font-weight: 700;
    color: #000;
}

.line {
    width: 100%;
    border-top: 1px solid #E8E8E8;
}

.seemore {
    width: 122px;
    background: #6B46C1;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding: 9px 11px;
    margin: 42px 0 0 63px;
}

.footer_nav {
    display: flex;
    justify-content: space-between;
    height: 79px;
    align-items: center;
}
.footer_logo {
    color: #000;
}

.footer_links {
    display: flex;
    column-gap: 35px;
}


.content {
    max-width: 765px;
    width: 100%;
    margin: 0 auto;
}


.main-p {
    display: flex;
    gap: 10px;
    padding: 19px 0 21px;
}

.main-txt {
   color:  #718096;
   font-size: 16px; 
   padding: 20px 0 0 0;
}

.main-link {
    color: #2D3748;
    font-weight: 700;
    font-size: 18px;
}

.main-date {
    color: #718096;
    font-weight: 400;
    font-size: 18px;
}

.logo {
    font-size: 45px;
    font-weight: 700;
    color: #2D3748;
}

.about-logo {
    color: #000;
    font-weight: 600;
    padding: 20px 0 0 0;
}

.about-logo1  {
   color: black;
   font-weight: 800;
   font-size: 22px;
   padding: 20px 0 0 0;
}

.content__img {
    max-width: 380px;
    width: 100%;
    padding: 30px 0 0;
}