@media (max-width: 992px) {
    .main_content {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .main_header-title {
        font-size: 50px;
    }

    .main_header-txt {
        font-size: 20px;
    }

    .main_cards2 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .main_card-1  {
        flex-wrap: wrap;
        justify-content: center;
    }

    .seaction_about1  {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about_about {
        max-width: unset;
    }
}

@media (max-width: 686px) {
    .header_nav {
    flex-wrap: wrap;
    gap: 20px;
    padding: 5px;
    }

    .header_nav-items {
        flex-wrap: wrap;
        gap: 10px;
    }

    .footer_links {
        display: flex;
        column-gap: 18px;
        margin: 5px;
    }

    .about_more {
        padding: 0 5px 0 0;
    }
    
    .main-txt {
        text-align: justify;
    }

    .main-link {
        font-size: 15px;
    }

    .main-date {
        font-size: 15px;
    }

    .logo {
        font-size: 35px;
    }
    }

    @media (max-width: 460px) {
        .about_title {
            font-size: 33px;
        }

        .about_txt {
            text-align: justify;
        }
    }
